/* Site-wide variables to be used for all styling */
:root {
  --blue: #076bab;
  --body-font: 'Arial';
  --button-font: 'Roboto','sans-serif';
  --button-font-size: 16px;
  --grid-size: 4px; 
  --nav-font-size: 20px;
  --red: #dc3545;
}

/* Header/footer styling */
#flag {
  position: fixed;
  bottom: 0%;
  left: 0%;
  padding: 0 0 calc(var(--grid-size)*5) calc(var(--grid-size)*5);
}

#menuToggle
{
  display: block;
  position: fixed;
  top: calc(var(--grid-size)*5);
  left: calc(var(--grid-size)*5);
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: var(--blue);
}

#menuToggle input
{
  display: block;
  width: calc(var(--grid-size)*10);
  height: calc(var(--grid-size)*8);
  position: absolute;
  top: calc(var(--grid-size)*-2);
  left: calc(var(--grid-size)*-1);
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  margin: calc(var(--grid-size)*-25) 0 0 calc(var(--grid-size)*-12.5);
  padding: calc(var(--grid-size)*27) calc(var(--grid-size)*5) calc(var(--grid-size)*2) calc(var(--grid-size)*12.5);
  background: white;
  border: calc(var(--grid-size) / 4) solid lightgray;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu .selected-link {
  color: var(--blue);
}

#menu li
{
  padding: calc(var(--grid-size)*2) 0;
  font-size: var(--nav-font-size);
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* Generic content styling (alphabetized) */
.add-row {
  text-align: right;
  font-weight: bold;
  padding-right: calc(var(--grid-size) * 2);
}

.add-row-button {
  color: white;
  background-color: var(--blue);
  border-color: var(--blue);
  border-radius: var(--grid-size);
  line-height: 1.0;
  cursor: pointer;
  width: calc(var(--grid-size) * 7);
}

.button1 {
  padding: calc(var(--grid-size) * 1.5);
  border: calc(var(--grid-size) / 2) solid black;
  margin: 0 calc(var(--grid-size) / 2);
  border-radius: calc(var(--grid-size));
  width: calc(var(--grid-size) * 100);
  text-decoration:none;
  font-size: var(--button-font-size);
  font-family:var(--button-font);
  font-weight:300;
  color: black;
  text-align:center;
}
.button1:hover {
  cursor: pointer;
  color:white;
  background-color: var(--blue);
}
@media all and (max-width:calc(var(--grid-size) * 120)){
  a.button1 {
    display:block;
    margin:calc(var(--grid-size) / 2) auto;
  }
}

.column {
  width:49.5%;
}

.form {
  width: calc(var(--grid-size)*50);
  height: calc(var(--grid-size)*5);
  padding: var(--grid-size);
}

.form-control {
  width:calc(var(--grid-size)*50);
  height:calc(var(--grid-size)*5);
}

.input-field {
  display: flex;
  margin-bottom: calc(var(--grid-size) * 2);
}

.input-field input {
  width: 60%;
  margin-top: var(--grid-size);
}

.input-field label {
  width: calc(var(--grid-size)*50);
}

.remove-row-button {
  color: white;
  background-color: var(--red);
  border-color: var(--red);
  border-radius: var(--grid-size);
  line-height: 1.0;
  cursor: pointer;
  width: calc(var(--grid-size) * 7);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#tbl {
  margin-top:0%;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 6px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 2px solid #000000; /* Add a grey border */
  font-size: 16px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 95%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left:20px;
  margin-bottom: 5px;
  font-size:16px;
}

p.justify {
  text-justify: inter-word;
  font-family:var(--body-font);
  line-height: 175%;
  font-size:18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  margin-left:5px;
  display: none;
  overflow: hidden;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

#submission {
  padding-left: calc(var(--grid-size)*20);
}

#submit {
  width: 100%;
}

/* Specific styling */
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.center {
  margin: 0 auto;
  width: 70%;
  position: fixed;
  top:15%;
  left:15%;
  justify-content: center;
}

.headline {
  text-align: center;
}

.headline h1 {
  font-family: var(--body-font);
  font-weight: 400;
}

html, body {
    height: 100%;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
    min-height:100%;
    max-width:100%;
}

.tip {
    display:None;
}

.form-group a:hover + .tip {
  cursor: pointer;
  display: block;
  /*visibility: visible; */
  width: 100%;
  margin-bottom:10px;
  line-height: 20px;
  padding: 8px;
  font-size: 14px;
  text-align: left;
  z-index: 999;
  color: black;
  background: #f8f9fa;
  border-left: 1px solid #017bff;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.tip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  top: 22px;
  left: -23px;
}

i{
    border-width: 0 0 0 0 !important;

}

.adverb {
  background: #c4e3f3;
}

.qualifier {
  background: #c4e3f3;
}

.passive {
  background: #c4ed9d;
}

.complex {
  background: #e3b7e8;
}

.hardSentence {
  background: #f7ecb5;
}

.veryHardSentence {
  background: #e4b9b9;
}

.counter {
  position: relative;
  padding: 5% 5%;
  margin: 5% 0 0 5%;
  border-radius: 8px;
}
#left {
  width: 75%;
  position: absolute;
  left: 2.5%;
}
main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

blockquote {
    max-width:600px;
    text-align: center;
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table
}

.name
{
    text-align: left;
    margin-left: 222.5px;
}
.box {
    width: 600px;
    height: 200px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
}
.indent
{
    text-align: left;
    margin-left: 277px;
}

.name1
{
    text-align: left;
    margin-left: 110px;
    margin-right: 110px
}
.label-txt {
    float: left;
}

.label-line {
    float: right;
    background: #000;
    height:50px;
  width:1px;
    margin-left: 5px;
}

.label-percent {
    float: right;
    margin-left: 5px;
}
.bar-step {
    position:absolute;
    margin-top:-20px;
  z-index:1;
    font-size:12px;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.resize{
    height: 75%;
    width: 75%;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


dl:nth-of-type(odd) {
    background: #fafafa;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.contributeTable:nth-of-type(even) {
    background: #f2f2f2;
}

/*#searchbar {*/
/*    background: white;*/
/*    background: -webkit-linear-gradient(to bottom, #a3e9ff, #FFFFFF);*/
/*    background: linear-gradient(to bottom, #a3e9ff, #FFFFFF);*/
/*}*/

/*#teammembers {background: #8e9eab;  /* fallback for old browsers
    background: -webkit-linear-gradient(to bottom, #ffffff, #8e9eab);  /* Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to bottom, #ffffff, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

/*}*/

.disabledButton:hover {
    text-decoration: none;
    filter: brightness(85%);
}

.contentButton:hover {
    text-decoration: none;
    color: DodgerBlue;
}

.home_page {
    min-height: 100vh;
    max-width:100%;
    margin: 0 auto;
}

.home_page:nth-of-type(odd) {
    background: linear-gradient(#000d24, #0c4d9c);
    color: white;
}

.border20 {
    border-radius:20px;
}
.border10 {
    border-radius:10px;
}
.b20t {
    border-radius:20px 20px 0 0;
}

.index_info {
    padding: 30% 13%;
}

.index_info div {
    font-weight: 200;
    font-size: 5.0em;
}

.index_info p {
    font-weight: 200;
    font-size: 1.3em;
}

#science{

    /*position: absolute;*/
    /*left: 53.54%;*/
    /*right: 4.31%;*/
    /*top: 23.73%;*/
    /*bottom: 23.83%;*/
    background: url(science.png);
}



#gene{
    /*position: absolute;*/
    /*left: 48.33%;*/
    /*right: -12.85%;*/
    /*top: 43.55%;*/
    /*bottom: -25%;*/

    margin-top: 10%;
    background: url(gene.png);
    background-blend-mode: luminosity;
}



.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 0px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

/*#beamerSelector{*/
/*    background-color: #017bff;*/
/*}*/


#preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #ffffff;
}

#title{
    font-size: 2.5em;
}

#footer-content{
    color: white;
}

#content-box{
    width: 25%;
}

#profile-stuff{
    text-align: center;
    padding: 2%;
}

#wrap{
    display: flex;
    justify-content: center;
    width: 103%;
}
#profile-stuff1{
    width: 100%;
    padding: 1%;
}
.footer{
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

@media screen and (max-width: 1025px){
#read{
    padding-right: 0 !important;
    padding-left:0 !important;
}
}



@media screen and (max-width: 481px){
.searchResults{
    margin-top: 0vh !important;
}
#likes {
    padding-right: 30px;
}
#title {
    font-size: 1.5em;
}
#read{
    padding-right: 0 !important;
    padding-left:0 !important;
}
#content-box {
    width: 50%;
}
#profile-stuff{
    width: 100%;
}
#profile-stuff1{
    width: 100%;
}
#status, .img{
    transform: scale(0.75, 0.75);
}
#status{
    margin-right: 1vh;
}
svg{
    height:75%;
}
#scroll2 img{
    height:75%;
    margin-top:0vh;
}
.mb-2{
    font-size:2.0em !important;
}
small.text-muted{
    display:none;
}
img{
    margin-top:-10vh;
}
.h-25{
    display:none;
}
.index_info{
    padding-bottom:0vh;
}
.col.m-0.pr-5{
    padding-left:3.0rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
