<!DOCTYPE html>
<html>
<head>
<title>HTML div</title>
</head>
<body>
<div style="width: 48%; float:left; height:400px; background:gray; margin:1%"; id="map">

</div>
<div style="width: 48%; float:right; height:100px; background:yellow; margin:1% ">
Second DIV
<p>
  This is filler text for para 2 of the webiste.
</p>
</div>
<script>
// Initialize and add the map
function initMap() {
  var directionsService = new google.maps.DirectionsService();
  var directionsRenderer = new google.maps.DirectionsRenderer();
// The location of Uluru
  var start = new google.maps.LatLng(37.7699298, -122.4469157);
  var finish = new google.maps.LatLng(37.7683909618184, -122.51089453697205);
// The map, centered at Uluru
  var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 4, center: start});

  directionsRenderer.setMap(map);

  calculateAndDisplayRoute(directionsService, directionsRenderer, start, finish);
// The marker, positioned at Uluru
  //var marker1 = new google.maps.Marker({position: start, map: map});
  //var marker2 = new google.maps.Marker({position: finish, map: map});
}

function calculateAndDisplayRoute(directionsService, directionsRenderer, start, finish) {
        directionsService.route(
            {
              origin: start,
              destination: finish,
              travelMode: 'DRIVING'
            },
            function(response, status) {
              if (status === 'OK') {
                directionsRenderer.setDirections(response);
              } else {
                window.alert('Directions request failed due to ' + status);
              }
            });
      }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Cfp8qI9Y4CPy_CfZv1pbZNtjwbSsIwc&callback=initMap">
</script>

</body>
</html>
