<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">

  <nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href="#"><li>Home</li></a>
			<a href="#"><li>Food Banks</li></a>
			<a href="#"><li>Food Processors</li></a>
			<a href="#"><li>Couriers</li></a>
			<a href="#"><li>Donate</li></a>
			<a href="#"><li>About</li></a>
		</ul>
	</div>
  </nav>
</head>

<body>
	<div class="center">
		<div class="row">
			<div class="column">
				<img src="static/img/supply.jpeg" alt="Potatoes in Picabo, Idaho" style="width:100%">
			</div>
			<div class="column">
				<img src="static/img/demand2.jpeg" alt="Food bank lines in San Antonio, Texas" style="width:100%">
			</div>
		</div>
		<div class="button-group">
			<a href="{{ url_for('fb_form') }}" class="button1">Food Banks<br/><i>Signal need</i></a>
			<a href="{{ url_for('fp_form') }}" class="button1">Food Processors<br/><i>Signal oversupply</i></a>
			<a href="something" class="button1">Couriers<br><i>Bridge-the-gap</i></a>
			<a href="something" class="button1">Public <br><i>Donate!</i></a>
		</div>
		<p class = "justify" style = "font-family:arial;">Now as consumer demand diminishes due to the COVID-19 pandemic and as America faces 30 million lost jobs, it's vital as ever to get food in the hands of those that need it. We connect food banks with food processors to ensure that America’s food doesn’t go to waste as families go hungry.</p>
	</div>
	<div id = "flag">
		<img src="static/img/flag.png" alt="US Flag" style="width:3%">
	</div>
</body>
</html>