<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">

  <nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href=""><li class = "selected-link">Home</li></a>
			<a href="{{ url_for('fb_form') }}"><li>Food Banks</li></a>
			<a href="{{ url_for('fp_form') }}"><li>Food Processors</li></a>
			<a href="{{ url_for('courier_form') }}"><li>Couriers</li></a>
			<a href="{{ url_for('donate_form') }}"><li>Donate</li></a>
		</ul>
	</div>
  </nav>
</head>

<body>
	<div class="center">
		<img src="static/img/Asset3.png">
		<div class="row">
			<div class="column">
				<img src="static/img/supply.jpeg" alt="Potatoes in Picabo, Idaho" style="width:100%">
			</div>
			<div class="column">
				<img src="static/img/demand2.jpeg" alt="Food bank lines in San Antonio, Texas" style="width:100%">
			</div>
		</div>
		<div class="button-group">
			<a href="{{ url_for('fb_form') }}" class="button1">Food Banks<br/><i>Signal need</i></a>
			<a href="{{ url_for('fp_form') }}" class="button1">Food Processors<br/><i>Signal oversupply</i></a>
			<a href="{{ url_for('courier_form') }}" class="button1">Couriers<br><i>Bridge-the-gap</i></a>
			<a href="{{ url_for('donate_form') }}" class="button1">Public <br><i>Donate and Participate!</i></a>
		</div>
		<p class = "justify"> 
			Breadbasket is a volunteer initiative that efficiently allocates food to food banks in America.
			As consumer demand diminishes due to the COVID-19 pandemic and as America faces a record unemployment rate,
			it's vital to get food in the hands of those that need it most. We connect food banks with food processors
			to ensure that America’s food doesn’t go to waste as families go hungry.
			<br><br>
			Contact willnuelle@gmail.com to get involved.
		</p>
	</div>
	<div id = "flag">
		<img src="static/img/flag.png" alt="US Flag" style="width:3%">
	</div>
</body>
</html>