<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="Connect food banks to food suppliers.">

  <link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">
  <nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href=""><li class = "selected-link">Home</li></a>
			<a href="{{ url_for('fb_form') }}"><li>Food Banks</li></a>
			<a href="{{ url_for('fp_form') }}"><li>Food Processors</li></a>
			<a href="{{ url_for('courier_form') }}"><li>Couriers</li></a>
			<a href="{{ url_for('donate_form') }}"><li>Donate</li></a>
		</ul>
	</div>
  </nav>
</head>

<body>
	<div class="center">
		<div class="row">
			<div class="column">
				<p style="text-align:center;color:#4a4a49;">Surplus potatoes in Picabo, Idaho, dated April 22nd 2020.</p>
				<img src="static/img/supply.jpeg" alt="Potatoes in Picabo, Idaho" style="width:100%">
			</div>
			<div class="column">
				<p style="text-align:center;color:#4a4a49;">10,000 cars lined up at the San Antonio Food Bank, dated April 10th 2020.</p>
				<img src="static/img/demand2.jpeg" alt="Food bank lines in San Antonio, Texas" style="width:100%">
			</div>
		</div>
		<div class="button-group">
			<a href="{{ url_for('fb_form') }}" class="button1">Food Banks<br/><i>Signal need</i></a>
			<a href="{{ url_for('fp_form') }}" class="button1">Food Processors<br/><i>Signal oversupply</i></a>
			<a href="{{ url_for('courier_form') }}" class="button1">Couriers<br><i>Bridge-the-gap</i></a>
			<a href="{{ url_for('donate_form') }}" class="button1">Public <br><i>Donate and Participate!</i></a>
		</div>
		<br>
		<div class="headline">
			<h1>We are Breadbasket. We connect <span style="color:#96b56d">food suppliers</span> with surplus to <span style="color:#96b56d">food banks </span> seeing unprecendented demand. Join the fight to feed America!</h1>
		</div>
	</div>
	<div id="flag">
		<img src="static/img/flag.png" alt="US Flag" style="width: 3%">
	</div>
</body>
</html>