<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="Connect food banks to food suppliers.">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">
  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<nav role="navigation">
		<div id="menuToggle">
			<input type="checkbox" />
			<span></span>
			<span></span>
			<span></span>
			<ul id="menu">
				<a href="{{ url_for('index') }}"><li>Home</li></a>
				<a href="{{ url_for('fb_form') }}"><li>Food Banks</li></a>
				<a href="{{ url_for('fp_form') }}"><li>Food Processors</li></a>
				<a href="{{ url_for('courier_form') }}"><li class = "selected-link">Couriers</li></a>
				<a href="{{ url_for('donate_form') }}"><li>Donate</li></a>
			</ul>
		</div>
	</nav>
</head>
<body>
	<h3 style="margin-left:20px;margin-top:40px;">Available routes<span style="margin-left:20px;font-size:16px">Find a route and claim it in the routes page!</span></h3>
	<div id="map" style="height:600px; background:gray; margin:1%"> 
	</div>
	<span style = "float:right;padding-right:15px;margin-bottom:10px"> 
		<label id="demo" style="height:10px"></label> 
		<input type="range" min="10" max="500" value="50" class="slider" style = "width:200px;margin-left: 10px;" id="myRange"> 
		<input type="text" placeholder="From Zip code..." style="margin-left: 10px;" id="zip_input" required>
		<button class="button1" id="filter" style="width:100px;margin-left:10px">Filter table</button>
		<button class="button1" id="reset" style="width:100px;margin-left:10px">Reset</button>
	</span>
	<div id="tbl" style="margin:15px">
	<table id="myTable" class="w3-table w3-striped w3-hoverable">
	  <!--Column Headings-->
		<thead>
		<tr class = "header">
			<td><input id="inputStart" class="w3-input" placeholder="Start Location..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputEnd" class="w3-input" placeholder="End Location..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputDistance" class="w3-input" placeholder="Distance..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputStops" class="w3-input" placeholder="Expires on..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputItem" class="w3-input" placeholder="Food Item..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputQuantity" class="w3-input" placeholder="Quantity..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputWeight" class="w3-input" placeholder="Total Weight..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputFee" class="w3-input" placeholder="Current Fee..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputReqs" class="w3-input" placeholder="Truck Requirements..." style="background-color: #f1f1f1;"></td>
			<td><input id="inputCountry" class="w3-input" style="background-color: #f1f1f1;"></td>
		</tr>
		</thead>
		<!--Row Data-->
		<tbody>
		{% for rte in routes %}
		<tr>
			<td>{{ rte['0']['Address'] }}</td>
			<td>{{ rte[(rte['Route length']|int - 1)|string]['Address'] }}</td>
			<td>{{ rte['Total distance'] }}</td>
			<td style="text-align:center;">{{ rte['Expiration'] }}</td>
			<td>{{ rte['Item'].split(":")[1].capitalize() }}</td>
			<td>{{ rte['Total quantity'] }}</td> 
			<td>{{ rte['Total quantity'] }}</td>
			<td>{{ '$'+rte['Current Fee']|string }}</td>
			<td>Distance</td>
			<td style="text-align:center;"><a href="{{ '/route?id=' + rte.id }}">See route</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<script type="text/javascript">
		var locations = JSON.parse("{{ locations | tojson | safe}}");
		console.log(locations)

		function performReset() {
			document.getElementById("inputStart").value = "";
			document.getElementById("inputEnd").value = "";
			document.getElementById("inputDistance").value = "";
			document.getElementById("inputExpiration").value = "";
			document.getElementById("inputItem").value = "";
			document.getElementById("inputQuantity").value = "";
			document.getElementById("inputWeight").value = "";
			document.getElementById("inputFee").value = "";
			filterTable(event, 0);
		}

		function filterTable(event, index) {
			var filter = event.target.value.toUpperCase();
			var rows = document.querySelector("#myTable tbody").rows;
			for (var i = 0; i < rows.length; i++) {
				var firstCol = rows[i].cells[0].textContent.toUpperCase();
				var secondCol = rows[i].cells[1].textContent.toUpperCase();
				var thirdCol = rows[i].cells[2].textContent.toUpperCase();
				var fourCol = rows[i].cells[3].textContent.toUpperCase();
				var fiveCol = rows[i].cells[4].textContent.toUpperCase();
				var sixCol = rows[i].cells[5].textContent.toUpperCase();
				var sevenCol = rows[i].cells[6].textContent.toUpperCase();
				var eightCol = rows[i].cells[7].textContent.toUpperCase();

				if ((firstCol.indexOf(filter) > -1 && index == 0) || (secondCol.indexOf(filter) > -1 && index == 1) || (thirdCol.indexOf(filter) > -1 && index == 2) || (fourCol.indexOf(filter) > -1 && index == 3) || (fiveCol.indexOf(filter) > -1 && index == 4) || (sixCol.indexOf(filter) > -1 && index == 5) || (sevenCol.indexOf(filter) > -1 && index == 6) || (eightCol.indexOf(filter) > -1 && index == 7)) {
				  rows[i].style.display = "";
			} else {
				rows[i].style.display = "none";
			}      
		  }
		}

		document.querySelectorAll('input.w3-input').forEach(function(el,idx){
			el.addEventListener('keyup', function(e){
				filterTable(e, idx);
			}, false);
		});


		// Initialize and add the map
		function initMap() {
			var directionsService = new google.maps.DirectionsService();
			// var directionsRenderer = new google.maps.DirectionsRenderer();
		// The location of Uluru

		// The map, centered at Uluru
			var map = new google.maps.Map(document.getElementById('map'), {zoom: 2, center: start});

			// directionsRenderer.setMap(map);
			var starts = []
			var finishes = []
			console.log(locations[0][0].toString())
			console.log(locations[1][0].toString())
			for (var i = 0; i < locations.length; i++) {
				var waypoints = []
				var waypoint;
				var start;
				var finish;
				for (var j = 0; j < locations[i].length; j++) {
					if (j == 0) {
						var point = locations[i][j]
						console.log('start')
						console.log(point.toString())
						start = new google.maps.LatLng(point[0],point[1]);
						starts.push(start)
					} else if (j== (locations[i].length - 1)) {
						var point = locations[i][j]
						console.log('finish')
						console.log(point.toString())
						finish = new google.maps.LatLng(point[0],point[1]);
						finishes.push(finish)
					} else {
						waypoint = new google.maps.LatLng(locations[i][j][0],locations[i][j][1]);
						waypoints.push({'location':waypoint,'stopover':true})
					}
				}
			}

			calculateAndDisplayRoute(directionsService, map, starts, waypoints, finishes);
		}

		function calculateAndDisplayRoute(directionsService, map, starts, waypoints, finishes) {
			for (var i = 0; i < starts.length; i++ ) {
						directionsService.route(
								{
									origin: starts[i],
									destination: finishes[i],
									waypoints: waypoints,
									travelMode: 'DRIVING',
									// optimizeWaypoints: true,
									// provideRouteAlternatives: true,
								},
								function(response, status) {
									if (status === 'OK') {
										// directionsRenderer.setDirections(response);
										console.log(response)
										renderDirections(response, map)
									} else {
										window.alert('Directions request failed due to ' + status);
									}
								});
					}
		}
		
		function renderDirections(result, map) {
			var directionsRenderer = new google.maps.DirectionsRenderer(); 
  			directionsRenderer.setMap(map); 
    		directionsRenderer.setDirections(result);
		}

		var slider = document.getElementById("myRange");
		var output = document.getElementById("demo");
		output.innerHTML = slider.value + " miles"; // Display the default slider value

		// Update the current slider value (each time you drag the slider handle)
		slider.oninput = function() {
		  output.innerHTML = this.value + " miles";
		}
		</script>
		<script type="text/javascript">
			var filter = document.getElementById("filter")
			var distance;

			function exposeRow(i,targetZip,maxDistance) {
				var rows = document.querySelector("#myTable tbody").rows;
				var start = rows[i].cells[0].innerHTML;
				var startzip = start.substr(start.length - 5);
				var end = rows[i].cells[1].innerHTML;
				var endzip = end.substr(end.length - 5);
				$.get("https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins="+targetZip.value+"&destinations="+startzip+"&key=AIzaSyBR4VBHFKox9cvzeCdR2gojPGcGD6ij5vE",function(data, status){
						distance = parseFloat(JSON.stringify(data['rows'][0]['elements'][0]['distance']['value']))/1609.;
						console.log(distance)
						console.log(rows)
						console.log("i:"+i)
						if (distance > maxDistance) {
							rows[i].style.display = "none";
						} else {
							rows[i].style.display = "";
						}
				});

			};

			filter.onclick = function() {
				var maxDistance = document.getElementById("myRange").value
				var targetZip = document.getElementById("zip_input")
				var rows = document.querySelector("#myTable tbody").rows;
				for (var i = 0; i < rows.length; i++) {
					exposeRow(i,targetZip,maxDistance)
				}
			}
			reset.onclick = function() {
				var rows = document.querySelector("#myTable tbody").rows;
				for (var i = 0; i < rows.length; i++) {
					rows[i].style.display = ""
				}
			}
		</script>
	</script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Cfp8qI9Y4CPy_CfZv1pbZNtjwbSsIwc&callback=initMap">
	</script>
</body>
</html>