<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="Connect food banks to food suppliers.">
  <link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style.css') }}">

  <nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href="{{ url_for('index') }}"><li>Home</li></a>
			<a href="{{ url_for('fb_form') }}"><li>Food Banks</li></a>
			<a href="{{ url_for('fp_form') }}"><li>Food Processors</li></a>
			<a href="{{ url_for('courier_form') }}"><li>Couriers</li></a>
			<a href=""><li class = "selected-link">Donate</li></a>
		</ul>
	</div>
  </nav>
</head>

<body>
	<div class="center">
		<div class="row">
			<img src="static/img/onions.jpeg" alt="Onions going to waste in Nyssa, Idaho" style="width:90%">
		</div>
		<p class = "justify"> 
			TO DO
		</p>
	</div>
</body>
</html>