<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">
  <nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href="{{ url_for('index') }}"><li>Home</li></a>
			<a href=""><li class = "selected-link">Food Banks</li></a>
			<a href="{{ url_for('fp_form') }}"><li>Food Processors</li></a>
			<a href="{{ url_for('courier_form') }}"><li>Couriers</li></a>
			<a href="{{ url_for('donate_form') }}"><li>Donate</li></a>
		</ul>
	</div>
  </nav>
</head>

<body>
	<div class="row">
		<div class="column">
			<div id="submission">
				<h2>Information</h2>
				<p>Please provide your contact information. We will attempt to construct a route that delivers your desired 
				items. Note that we are allocating food to many in need across the country and overspecifying need means
				that others will not have access to those items. Please be realistic with your stated demand.</p>
				<form method=POST action="{{ url_for('fb_form')}}">
					<div class = "form-group">
						<h5>Location</h5>
						<span class="input-field">
							<label for="fb_name">Food bank name</label>
							<input type="text" class="form-control" name="fb_name" id="fb_name">
						</span>
						<span class="input-field">
							<label for="address">Address</label>
							<input type="text" class="form-control" name="address1" id="address1">
						</span>
						<span class="input-field">
							<label for="city">City</label>
							<input type="text" class="form-control" name="city" id="city">
						</span>
						<span class="input-field">
							<label for="state">State</label>
							<input type="text" class="form-control" name="state" id="state">
						</span>
						<span class="input-field">
							<label for="zc">Zip code</label>
							<input type="text" class="form-control" name="zc" id="zc">
						</span>
					</div>
					<div class = "form-group">
						<h5>Primary Contact</h5>
						<span class="input-field">
							<label for="first_name">First name</label>
							<input type="text" class="form-control" name="first_name" id="first_name">
						</span>
						<span class="input-field">
							<label for="last_name">Last name</label>
							<input type="text" class="form-control" name="last_name" id="last_name">
						</span>
						<span class="input-field">
							<label for="email">Email</label>
							<input type="text" class="form-control" name="email" id="email">
						</span>
						<span class="input-field">
							<label for="phone_number">Phone number</label>
							<input type="text" class="form-control" name="phone_number" id="phone_number">
						</span>
					</div>
					<h5>Other Questions</h5>
					<p>By how many times do exceed normal capacity (2x indicates double normal capacity)?</p>
					<input type="text" class="form-control" name="q1" placeholder='e.g. 2x' style="margin-bottom: 5px;"> 
					<p>Please estimate the total number of individuals per week. </p>
					<input type="text" class="form-control" name="q2" placeholder='Estimate individual demand'> 
					<br>
					<table id="extra-table">
					 	<tbody>
					  	<tr>
						<th>Food type</th>
						<th>Food item</th>
						<th>Desired quantity</th>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" name="food_type1" placeholder='starch'> 
							</td>
							<td>
								<input type="text" class="form-control" name="food_item1" placeholder='pasta'> 
							</td>
							<td>
								<input type="text" class="form-control" name="quantity1" placeholder='quantity'> 
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" name="food_type2"> 
							</td>
							<td>
								<input type="text" class="form-control" name="food_item2"> 
							</td>
							<td>
								<input type="text" class="form-control" name="quantity2"> 
							</td>
							<td>
								<button type="button" class="remove-row-button" onclick="removeExtraRow(this)"> – </button>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" name="food_type3"> 
							</td>
							<td>
								<input type="text" class="form-control" name="food_item3"> 
							</td>
							<td>
								<input type="text" class="form-control" name="quantity3"> 
							</td>
							<td>
								<button type="button" class="remove-row-button" onclick="removeExtraRow(this)"> – </button>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" name="food_type4"> 
							</td>
							<td>
								<input type="text" class="form-control" name="food_item4"> 
							</td>
							<td>
								<input type="text" class="form-control" name="quantity4"> 
							</td>
							<td>
								<button type="button" class="remove-row-button" onclick="removeExtraRow(this)"> – </button>
							</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="add-row">Add row</td>
							<td>
								<button type="button" class="add-row-button" onclick="addExtraRow()"> + </button>
							</td>
						</tr>
						</tbody>
					</table>
					<br>
					<button class="button1" id="submit" type="submit" value="Submit">Submit</button>
				</form>  
			</div>
		</div>
		<div class="column" style="width:39%">
			<img src="static/img/corn.jpeg" alt="Corn field" style="width:98%">
		</div>
	</div>
	<script>
		function addExtraRow() {
			let table = document.getElementById("extra-table");
			let rowIndex = table.rows.length - 1;
			let newRow = table.insertRow(rowIndex);
			let newFoodType = newRow.insertCell(0);
			let newFoodItem = newRow.insertCell(1);
			let newQuantity = newRow.insertCell(2);
			let removeButton = newRow.insertCell(3);
			newFoodType.innerHTML = "<input type=\"text\" class=\"form-control\" name=\"" + "food_type".concat(rowIndex) + "\">";
			newFoodItem.innerHTML = "<input type=\"text\" class=\"form-control\" name=\"" + "food_item".concat(rowIndex) + "\">";
			newQuantity.innerHTML = "<input type=\"text\" class=\"form-control\" name=\"" + "quantity".concat(rowIndex) + "\">";
			removeButton.innerHTML = "<button type=\"button\" class=\"remove-row-button\" onclick=\"removeExtraRow(this)\"> – </button>";
		}

		// Function to remove a row from the extra properties table
		function removeExtraRow(x) {
			let i = x.parentNode.parentNode["rowIndex"];
			let table = document.getElementById("extra-table");
			table.deleteRow(i);
		}
	</script>
</body>
</html>