<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">

  <nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href="#"><li>Home</li></a>
			<a href="#"><li>Food Banks</li></a>
			<a href="#"><li>Food Processors</li></a>
			<a href="#"><li>Couriers</li></a>
			<a href="#"><li>Donate</li></a>
			<a href="#"><li>About</li></a>
		</ul>
	</div>
  </nav>
</head>

<body>
	<div class="row">
		<div class="column">
			<div id="submission">
				<h2>Information — Proccesors 4 life</h2>
				<form method=POST style="width:50%" action="{{ url_for('fp_form')}}">
					<div class = "row">
						<div class = "column">
							<h3>Primary Contact</h3>
							<input type="text" class="form-control" name="first_name" placeholder='First name'> 
							<input type="text" class="form-control" name="last_name" placeholder='Last name'> 
							<input type="text" class="form-control" name="email" placeholder='E-mail'> 
							<input type="text" class="form-control" name="phone_number" placeholder='Phone number'>
						</div>
						<div class = "column">
							<h3>Location</h3>
							<input type="text" class="form-control" name="fp_name" placeholder='Supplier name'> 
							<input type="text" class="form-control" name="address" placeholder='Supplier address'> 
							<input type="text" class="form-control" name="city" placeholder='City'> 
							<input type="text" class="form-control" name="state" placeholder='State'> 
							<input type="text" class="form-control" name="zc" placeholder='Zip code'> 
						</div>
					</div>
					<h3>Targeted questions</h3>
					<p>By how many times do exceed normal capacity (2x indicates double normal capacity)?</p>
					<input type="text" class="form-control" name="q1" placeholder='Capacity'> 
					<p>Estimate the total number of individuals per week. </p>
					<input type="text" class="form-control" name="q2" placeholder='Estimate individual demand'> 
					<br>
					<br>
					<table id="extra-table">
					 	<tbody>
					  	<tr>
						<th class="col-md-4">Food type</th>
						<th class="col-md-4">Food item</th>
						<th class="col-md-4">Available quantity</th>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" name="food_type1" placeholder='starch'> 
							</td>
							<td>
								<input type="text" class="form-control" name="food_item1" placeholder='pasta'> 
							</td>
							<td>
								<input type="text" class="form-control" name="quantity1" placeholder='quantity'> 
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" name="food_type2" placeholder='starch'> 
							</td>
							<td>
								<input type="text" class="form-control" name="food_item2" placeholder='bread'> 
							</td>
							<td>
								<input type="text" class="form-control" name="quantity2" placeholder='quantity'> 
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" name="food_type3" placeholder='grain'> 
							</td>
							<td>
								<input type="text" class="form-control" name="food_item3" placeholder='rice'> 
							</td>
							<td>
								<input type="text" class="form-control" name="quantity3" placeholder='quantity'> 
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control" name="food_type4" placeholder='fruit'> 
							</td>
							<td>
								<input type="text" class="form-control" name="food_item4" placeholder='tomatoes'> 
							</td>
							<td>
								<input type="text" class="form-control" name="quantity4" placeholder='quantity'> 
							</td>
						</tr>
						</tbody>
						<button type="button" class="btn btn-info" onclick="addExtraRow()">
						+ <i class="fas fa-plus"></i>
						</button>
					</table>
					<br>
					<button class="button1" type="submit" value="Submit">Submit</button>
				</form> 
			</div>
		</div>
		<div class="column">
			<img src="static/img/demand2.jpeg" alt="Food bank lines in San Antonio, Texas" style="width:100%">
			<img src="static/img/supply.jpeg" alt="Potatoes in Picabo, Idaho" style="width:100%">
		</div>
	</div>
	<script></script>
</body>
</html>