<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">

</head>

<body>
	<div class="row">
		<div class="column">
			<div id="submission">
				<h2>Information</h2>
				<p>Please provide your contact information. We will attempt to construct a route that delivers your desired 
				<br>items. Note that we are allocating food to many in need across the country, and overspecifying need means
				<br>that others will not have access to those items. Please be realistic with your stated demand.
				</p>
				<form method="POST" style="width:100%" action="{{ url_for('fb_form')}}">
					<div class = "row">
						<div class = "column">
							<h3>Primary Contact</h3>
							{{form.hidden_tag()}}
							{{form.first_name(class="form")}}
							{{form.last_name(class="form")}}
							{{form.email(class="form")}}
							{{form.phone_number(class="form")}}
						</div>
						<div class = "column">
							<h3>Location</h3>
							{{form.fbname(class="form")}}
							{{form.address(class="form")}}
							{{form.city(class="form")}}
							{{form.state(class="form")}}
							{{form.zc(class="form")}}
						</div>
					</div>
					<h3>Targeted questions</h3>
					<p>By how many times do exceed normal capacity (2x indicates double normal capacity)?</p>
					{{form.q1(class="form")}}
					<p>Estimate the total number of individuals per week. </p>
					{{form.q2(class="form")}}
					<p><br></p>
					<table id="extra-table">
					  <tbody><tr>
						<th class="col-md-4">Food item</th>
						<th class="col-md-4">Desired quantity</th>
						<th class="col-md-4">Inbox Share</th>
						</tr>
						<tr>
						<td>{{form.q2(class="form")}}</td><td>{{form.q2(class="form")}}</td><td>{{form.q2(class="form")}}</td></tr>  <tr>
						<td>{{form.q2(class="form")}}</td><td>{{form.q2(class="form")}}</td><td>{{form.q2(class="form")}}</td></tr> <tr>
						<td>{{form.q2(class="form")}}</td><td>{{form.q2(class="form")}}</td><td>{{form.q2(class="form")}}</td></tr>  <tr>
						<td>{{form.q2(class="form")}}</td><td>{{form.q2(class="form")}}</td><td>{{form.q2(class="form")}}</td></tr></tbody>
						<button type="button" class="btn btn-info" onclick="addExtraRow()">
						+ <i class="fas fa-plus"></i>
						</button>
					</table>
					<p><br></p>
					<input type="submit" value="Submit">
				</form> 
			</div>
		</div>
		<div class="column">
			<img src="static/img/demand2.jpeg" alt="Food bank lines in San Antonio, Texas" style="width:100%">
			<img src="static/img/supply.jpeg" alt="Potatoes in Picabo, Idaho" style="width:100%">
		</div>
	</div>
	<script>
		function addExtraRow() {
			let table = document.getElementById("extra-table");
			let row = table.insertRow(-1);
			row.contentEditable = "true";
			row.insertCell(0);
			row.insertCell(1);
			row.insertCell(2);
			let cell3 = row.insertCell(3);
			cell3.innerHTML = "<button type=\"button\" class=\"btn btn-danger\" onclick=\"removeExtraRow(this)\"> - <i class=\"fas fa-minus\"></i> </button>";
		}

		// Function to remove a row from the extra properties table
		function removeExtraRow(x) {
			let i = x.parentNode.parentNode["rowIndex"];
			let table = document.getElementById("extra-table");
			table.deleteRow(i);
		}
	</script>
</body>
</html>