<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Breadbasket</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">
  <nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href="{{ url_for('index') }}"><li>Home</li></a>
			<a href="{{ url_for('fb_form') }}"><li>Food Banks</li></a>
			<a href=""><li class = "selected-link">Food Processors</li></a>
			<a href="{{ url_for('courier_form') }}"><li>Couriers</li></a>
			<a href="{{ url_for('donate_form') }}"><li>Public</li></a>
		</ul>
	</div>
  </nav>
</head>

<body>
	<div class="row">
		<div class="column">
			 <h2 style = "text-align: center">Volunteer</h2>
			 <div id="submission">
				<p style="margin-left: 60px; width:85%">Please provide your contact information. We will attempt to construct a route that delivers your desired items. Note that we are allocating food to many in need across the country, and overspecifying need means that others will not have access to those items. Please be realistic with your stated demand.
				</p>
				<form method=POST action="{{ url_for('donate_form')}}">
					<div class = "form-group">
						<span class="input-field" style="margin-left: 60px">
							<label for="first_name">First name</label>
							<input type="text" class="form-control" name="first_name" id="first_name">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="last_name">Last name</label>
							<input type="text" class="form-control" name="last_name" id="last_name">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="email">E-mail</label>
							<input type="text" class="form-control" name="email" id="email">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="phone_number">Phone number</label>
							<input type="text" class="form-control" name="phone_number" id="phone_number">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="addres">Address</label>
							<input type="text" class="form-control" name="address" id="address">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="city">City</label>
							<input type="text" class="form-control" name="city" id="city">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="state">State</label>
							<input type="text" class="form-control" name="state" id="state">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="zc">Zip code</label>
							<input type="text" class="form-control" name="zc" id="zc">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="route_m">Interest in Route manager?</label>
							<input type="text" class="form-control" name="route_m" id="route_m" placeholder="True/False">
						</span>
						<span class="input-field" style="margin-left: 60px">
							<label for="route_ul">Interest in Route unloader?</label>
							<input type="text" class="form-control" name="route_ul" id="route_ul" placeholder="True/False">
						</span>
					</div>
					<button class="button1" type="submit" value="Submit" style="margin-left: 60px">Submit</button>
				</form>  
				<br>
				<br> 
				<div class="jumbotron" style="width:85%;margin-left: 60px;">
					<h1 class="display-3">Donate today</h1>
					<p class="lead">Help food get from point A to point B. For those that need it most.</p>
					<form action="{{ url_for('pay') }}" method="POST">
					  <script
						src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						data-key="{{ pub_key }}"
						data-amount="19900"
						data-name="Breadbasket"
						data-description="Food distribution"
						data-image="{{ url_for('static', filename='img/108019.png') }}"
						data-locale="auto">
					  </script>
					</form>
				</div>
			</div>
		</div>
		<div class="column" style="background-image: url(static/img/BreadbasketDL.png); background-size:850px 1200px;">
			<div class="grid-container">
			  <div class="grid-item">
				<div style="width:100%">
					<p style="font-size:120px;text-align:center;margin:0px">50</p>
					<p style="font-size:20px;text-align:center;margin:0px">People served</p>
					<br>
				</div>
			  </div>
			  <div class="grid-item">
				<p style="font-size:120px;text-align:center;margin:0px">1000</p>
				<p style="font-size:20px;text-align:center;margin:0px">Bottles of milk</p>
				<br>
			  </div>
			  <div class="grid-item">
				<p style="font-size:120px;text-align:center;margin:0px">2</p>
				<p style="font-size:20px;text-align:center;margin:0px">Turtled doves</p>
				<br>
			  </div>
			  <div class="grid-item">
				<p style="font-size:120px;text-align:center;margin:0px">3</p>
				<p style="font-size:20px;text-align:center;margin:0px">French hens</p>
				<br>
			  </div>
			  <div class="grid-item">
				<p style="font-size:120px;text-align:center;margin:0px">6</p>
				<p style="font-size:20px;text-align:center;margin:0px">Geese a-laying</p>
			  </div>
			  <div class="grid-item">
				<p style="font-size:120px;text-align:center;margin:0px">1</p>
				<p style="font-size:20px;text-align:center;margin:0px">Partridge in a pear tree</p>
			  </div>
			</div>
		</div>
	</div>
	<script>
	</script>
</body>
</html>