<!DOCTYPE html>
<html>
<head>
<title>Breadbasket</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">
<nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />
		<span></span>
		<span></span>
		<span></span>
		<ul id="menu">
			<a href="{{ url_for('index') }}"><li>Home</li></a>
			<a href="{{ url_for('fb_form') }}"><li>Food Banks</li></a>
			<a href="{{ url_for('fp_form') }}"><li>Food Processors</li></a>
			<a href="{{ url_for('courier_form') }}"><li>Couriers</li></a>
			<a href="{{ url_for('donate_form') }}"><li>Public</li></a>
		</ul>
	</div>
  </nav>
</head>
<body>
	<div class="row">

		<div class="column" style="width: 48%; float:left; margin:1%"> 
			<h2 style="margin-left:60px;">Route</h2>
			<h5 style="margin-left:60px;">Information</h5>
			<p style ="margin-left:70px;">Date: 5/10/2020 </p>
			<p style ="margin-left:70px;">Route manager: Shelly</p>
			<br>
			<h5 style="margin-left:60px;">Itinerary</h5>
			<br>
			<button class="accordion" style ="margin-left:60px;width:87%">Pick up: {{route['0']['Supplier name']}}<span style="float:right;"><b>9:30 AM</b>
			</span>
			</button>
			<div class="panel">
			  <p style ="margin-left:60px;">Address: {{route['0']['Address']}}</p>
			</div>

			{% for i in range(route['Route length']|int-1) %}
			<button class="accordion" style ="margin-left:60px;width:87%">Drop off: {{ route[(i+1)|string]['Food bank name'] }}</button>
			<div class="panel">
			  <p style ="margin-left:70px;">Address: {{route[(i+1)|string]['Address']}}</p>
			</div>
			{% endfor %}

			<form method=POST action="{{ url_for('get_route')+'?id='+route.id}}" >
			<div id="bid" class="jumbotron" style="margin:60px;position:absolute;bottom:0px;width:42.5%;">
				<span>
				<p style="float:left;font-size:30px;">Couriers: Bid on route</p>
					<input name="bid" class="form-control" type="text" style="width:250px;float:right;vertical-align: middle;height:50px;margin-bottom: 5px;text-align:center;" placeholder="Current best price:  ${{route['Current Fee']}}">
				</span>
				<span>
					<button class="button1" id="submit" type="submit" value="Submit" style="float:right;width:250px;">Submit</button>
				</span>
				<p id="demo" style="float:left;font-size:24px;padding-left:50px;"></p>
			</div>
			</form>
		</div>
		<div class="column" id="map" style="width: 48%; float:right; position:fixed; height:900px; background:gray; margin:1%"> 
		</div>
	</div>
<script>

	var date = "{{ date | safe}}"
	console.log(date)

	var locations = JSON.parse("{{ locations | tojson | safe}}");
	// Initialize and add the map
		function initMap() {
			var directionsService = new google.maps.DirectionsService();
			var directionsRenderer = new google.maps.DirectionsRenderer();
		// The location of Uluru

		// The map, centered at Uluru
			var map = new google.maps.Map(document.getElementById('map'),{zoom: 2, center: start});

			directionsRenderer.setMap(map);
			for (var i = 0; i < locations.length; i++) {
				var waypoints = []
				var start;
				var finish;
				var waypoint;
				for (var j = 0; j < locations[i].length; j++) {
					if (j == 0) {
						var point = locations[i][j]
						start = new google.maps.LatLng(point[0],point[1]);
					} else if (j == (locations[i].length - 1)) {
						var point = locations[i][j]
						finish = new google.maps.LatLng(point[0],point[1]);
					} else {
						console.log(locations[i][j][0],locations[i][j][1])
						waypoint = new google.maps.LatLng(locations[i][j][0],locations[i][j][1]);
						waypoints.push({'location':waypoint,'stopover':true})
					}
				}
				calculateAndDisplayRoute(directionsService, directionsRenderer, start, waypoints, finish);
		  	}

		}

		function calculateAndDisplayRoute(directionsService, directionsRenderer, start, waypoints, finish) {
						directionsService.route(
								{
									origin: start,
									destination: finish,
									waypoints: waypoints,
									travelMode: 'DRIVING'
								},
								function(response, status) {
									if (status === 'OK') {
										directionsRenderer.setDirections(response);
									} else {
										window.alert('Directions request failed due to ' + status);
									}
								});
					}

	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
	  acc[i].addEventListener("click", function() {
	    /* Toggle between adding and removing the "active" class,
	    to highlight the button that controls the panel */
	    this.classList.toggle("active");

	    /* Toggle between hiding and showing the active panel */
	    var panel = this.nextElementSibling;
	    if (panel.style.display === "block") {
	      panel.style.display = "none";
	    } else {
	      panel.style.display = "block";
	    }
	  });
	}
	// Set the date we're counting down to
	var countDownDate = new Date(date).getTime();

	// Update the count down every 1 second
	var x = setInterval(function() {

	  // Get today's date and time
	  var now = new Date().getTime();

	  // Find the distance between now and the count down date
	  var distance = countDownDate - now;

	  // Time calculations for days, hours, minutes and seconds
	  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

	  // Display the result in the element with id="demo"
	  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
	  + minutes + "m " + seconds + "s ";

	  // If the count down is finished, write some text
	  if (distance < 0) {
	    clearInterval(x);
	    document.getElementById("demo").innerHTML = "EXPIRED";
	  }
	}, 1000);
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Cfp8qI9Y4CPy_CfZv1pbZNtjwbSsIwc&callback=initMap">
</script>

</body>
</html>