#submission {
	padding-left: 0px;
}

.form {
  width: 200px;
  height: 20px;
  padding:3px;
}

#flag {
	padding-left: 20px;
	position: absolute;
	top:95%;
}
#abouttext {
	font-family:'Arial';
}

p.justify {
	text-justify: inter-word;
	font-family:'Helvetica';
	line-height: 175%;
	font-size:18px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 49%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

div.center {
  margin: auto;
  width: 70%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left:15%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.button-group {
  margin: auto;
  display: flex;
  top: 50%;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

a.button1 {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #000000;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	width: 400px;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#000000;
	text-align:center;
	transition: all 0.2s;
}
a.button1:hover {
	color:#FFFFFF;
	background-color:#076bab;
}
@media all and (max-width:30em){
	a.button1 {
		display:block;
		margin:0.4em auto;
	}
}

/* Dropdown Button */
.drop {
  font-size: 14px;
  padding-left:20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  outline: 3px black;
  width:500px;
  z-index: 1;
  padding-left:20px;
  padding-right:20px;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}